body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: justify;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#center {
    text-align: center;
}

#apresentacao {
    text-align: center;
}